$default-minimum-width: 30px;
$pluto-table-background: lightblue;
$default-padding: 8px;

table {
  margin: 2px;
  border: 2px solid black;
  background-color: lightblue;
  thead {
    tr {
      background-color: turquoise
    }
    th { 
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgb(116, 116, 116);
      text-align: center;
    }
  }
  .empty-table{
    font-style: italic;
  }
  td, th {
    padding: $default-padding;
    min-width: $default-minimum-width;
  }
  tr:nth-child(even) { background-color: rgb(190, 213, 255);}
  tbody tr:hover {background-color: grey;}
}